// @use "./src/assets/css/config" as *;
// @use "./src/assets/css/partials" as *;

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found {
  height: 70vmin;
  color: #4682b4;
}

.colored-box {
  width: 100%;
  min-height: 250px;
  background-color: rgba(0, 0, 255, 0.39);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem 0;
  z-index: 1200;
  display: flex;
  justify-content: center;
  align-items: center;

  .navbar {
    width: 70vw;
    height: 10vh;
    border-radius: 50px;
    padding: 0;
    background-color: rgba(245, 255, 250, 0.6);
    opacity: 1;
    transition: background-color 0.3s, opacity 0.3s;
    animation: fade-on-scroll linear;
    animation-timeline: scroll();

    * {
      height: inherit;
    }

    &:hover {
      background-color: rgb(245, 255, 250);
      opacity: 1;
    }

    .container,
    .container-fluid {
      height: 100%;
    }

    .navbar-brand {
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .logo {
      height: 100%;
      width: auto;
      border-radius: 50%;
    }

    .navbar-nav {
      min-width: 70%;
      justify-content: space-around;
      justify-self: center;
    }

    .navbar-collapse {
      display: flex;
      align-items: center;
    }

    a {
      color: #{$subheading-color};
      font-family: "Raleway";
      font-size: 1.2rem;
      font-weight: 500;

      &:hover {
        color: var(--theme-color-1);
      }
    }
  }
}

@keyframes fade-on-scroll {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }

  to {
    transform: translate(-50%, 0);
    opacity: 0.3;
  }
}

.heading {
  text-align: center;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding: 0.5px;
    margin: 1rem;
    border: 1px solid var(--heading-color);
    opacity: 0.3;
  }
}

/* ============================= HOME ==========================  */
/* -------------------- HERO SECTION ---------------------- */
.banner {
  width: 100%;
  min-height: 300px;
  height: 100vh;
  background-position: 50% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 0.3) 90%);
    position: absolute;
    top: 0;
    left: 0;
  }

  .banner-message {
    font-size: 60px;
    font-weight: 600;
    opacity: 0.9;
    text-align: center;
    color: whitesmoke;
    filter: brightness(1.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .animated .message-slot {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: type-and-delete 7s infinite 3s;
  }

  .animated .message-slot .char {
    animation: type 0.5s steps(1) infinite;
  }
}

@keyframes type {
  0% {
    width: 0;
  }

  100% {
    width: 0;
  }
}

@keyframes type-and-delete {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.image-wrapper {
  height: 500px;
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8) 25%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.5) 75%,
        rgba(0, 0, 0, 1) 100%);
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.banner-text {
  position: absolute;
  top: 60%;
  // bottom: 5%;
  left: 5%;
  overflow: hidden;
  padding: 20px;
  max-width: 60vmax;
  font-size: 0.8rem;
  background: rgb(125, 125, 125, 1);
  z-index: 3;
}

.hero {
  margin: 2rem auto;

  blockquote {
    width: 100%;
    margin: 0;
    font-family: "Raleway", "Lucida Sans", serif;
    font-weight: 700;
    font-style: oblique;
    line-height: 25px;

    @media (min-width: 768px) {
      width: 40%;
    }
  }

  .call-to-action {
    float: none;
    text-align: center;
    font-size: larger;
    background-color: rgb(245, 255, 250);
    padding: 10px;
  }

  .pentagon-wrapper {
    @media (min-width: 768px) {
      position: relative;
      margin: 0 auto;
      min-height: 500px;

      .pentagon-image {
        mask: linear-gradient(to right,
            rgba(0, 0, 0, 0) 25%,
            rbga(0, 0, 0, 1) 60%,
            rgba(0, 0, 0, 1) 100%);
        -webkit-mask: linear-gradient(to right,
            rgba(0, 0, 0, 0) 100%,
            rgba(0, 0, 0, 1) 25%,
            rbga(0, 0, 0, 1) 60%,
            rgba(0, 0, 0, 0) 100%);

        img {
          position: absolute;
          left: 50%;
          width: 50%;
          height: 90%;
          transform: translate(-50%, 0%);
        }
      }

      .pentagon-card {
        position: absolute;
        width: 50%;
        height: 138px;
        // background: #fff;
        border-radius: 16px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;
        padding: 8px;
      }

      .pentagon-position-1 {
        /* Top left */
        left: 15%;
        top: 10%;
        transform: translate(-50%, 0);
      }

      .pentagon-position-2 {
        /* Bottom left */
        left: 0%;
        top: 50%;
        transform: translate(-50%, 0);
      }

      .pentagon-position-3 {
        /* Top center */
        left: 50%;
        top: 80%;
        transform: translate(-50%, 0);
        width: 80%;
      }

      .pentagon-position-4 {
        /* Bottom right */
        right: 0%;
        top: 50%;
        transform: translate(50%, 0);
      }

      .pentagon-position-5 {
        /* Top right */
        right: 15%;
        top: 10%;
        transform: translate(50%, 0);
      }
    }
  }
}

.kpis {
  width: 100%;
  overflow-x: auto;

  >div {
    @media (min-width: 768px) {
      overflow: visible;
      margin: auto;
      width: 40%;
    }
  }

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 4vmin 16vmin;
    font-weight: 600;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);

    p {
      font-size: 20px;
      font-weight: 400;
    }

    &.bg-warning {
      box-shadow: 0 10px 40px 0px rgb(0, 0, 0, 0.5);
    }
  }
}

section.reviews {
  overflow: hidden;

  .reviews-pane {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 300px;
    text-align: left;
    will-change: transform;
    cursor: grab;

    .review-card {
      font-size: 0.9rem;
      border: 1px solid #eee;
      border-radius: 8px;
      padding: 20px;
      margin: 0 10px;
      height: 70%;
      aspect-ratio: 1.5;
      background: #fff;
      box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .review-card-header {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        .review-card-avatar {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
          border: 1px solid #eee;
        }

        .review-card-author {
          font-weight: bold;
        }
      }

      .review-card-body {
        .review-card-text {
          display: -webkit-box;
          line-clamp: 4;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0 0 10px;
        }

        .review-card-source {
          font-size: 14;
          text-transform: capitalize;
        }

        .review-card-rating {
          color: #e2e200;
          font-size: 1.2rem;
        }
      }
    }
  }
}

section.featured {
  >.container-fluid>.row {

    >[class^="col-"],
    >[class*=" col-"] {
      height: 300px;
      &.minor-featured {
        height: auto;
        [class^="col-"],
        [class*=" col-"] {
          height: 300px;
        }
      }

      @media (min-width: 576px) {
        height: 500px;
        &.minor-featured {
          height: 500px;
          [class^="col-"],
          [class*=" col-"] {
            height: 100%;
          }
        }
      }

      @media (min-width: 992px) {
        &.minor-featured {
          [class^="col-"],
          [class*=" col-"] {
            height: 32%;
          }
        }
      }

      .row {
        height: 100%;
      }
    }

    .featured-media-card {
      height: 100%;
      margin: 0 auto;
      border-radius: 8px;
      padding: 0 0 8px;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      background: #151515e5;
      color: #f5f5f5;

      .media-area {
        position: relative;
        width: 100%;
        height: 70%;
        background: rgb(21 21 21 / 90%);
        overflow: hidden;
        mask: linear-gradient(rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
        
        &.frame {
          height: 100%;
          // mask: linear-gradient(rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.5));
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }

        div {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;

          iframe body {
            scrollbar-width: thin;
          }
          video {
            object-fit: fill;
          }
        }
      }

      .caption-area {
        height: 30%;
        padding: 0 14px;
      }
    }
  }
}

/* ------------------ Floating Button =========== */
.floating-btn {
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 1;
  color: #fff;
  padding: 20px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    opacity: 1;
    box-shadow: 0 15px 30px 0px rgba(0, 0, 0, 0.6);
    color: #fff;
    filter: brightness(1.05);
  }

  svg {
    color: #fff;
  }
}

// ===================== SERVICES PAGE ==============
.nav.nav-tabs .nav-item .nav-link {
  text-transform: capitalize;
}

.service-category {
  .category-title {
    color: var(--primary-color);
  }

  .rotate-icon {
    transition: transform 0.3s;
  }

  .rotate-icon.rotated {
    transform: rotate(45deg);
  }
}

// ===================== TEAM PAGE ===============

#team-section {
  .team-member {
    margin: 3rem 0;
    animation: slide-in;
  }

  .team-member-description {
    order: 1;
  }

  .team-member-figure {
    text-align: center;
    max-height: 500px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @media (min-width: 768px) {
    .team-member:nth-child(even) {
      .team-member-figure {
        order: 2;
      }
    }
  }

  h3 {
    color: var(--primary-color);
  }
}

@keyframes slide-in {}

#news-gallery-section {
  .article {
    padding: 1rem;

    &.h-25,
    &.h-75 {
      height: auto;
      min-height: max-content;
    }
  }
}

// ============== Analytics ============
.otp input {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 15%;
  border: 1px solid #eee;
}

// ================= Footer =================
footer {
  .author {
    opacity: 0.6;
    color: grey;
    font-size: 0.8rem;
    font-style: italic;
  }

  .contact-hours div {
    line-height: 2rem;
  }
}