@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "~bootstrap/scss/bootstrap";

$theme-color-1: hsl(187, 60%, 61%);
$theme-color-2: hsl(0, 0%, 96%);
$theme-color-3: hsl(0, 0%, 0%);

:root {
    --color-primary: #{$theme-color-1};
    --color-primary-dark: hsl(from #{$theme-color-1} h calc(s + 14) calc(l - 26) );
    --color-secondary: #{$theme-color-2};
    --color-accent: hsl(from #{$theme-color-1} h calc(s + 12) calc(l + 10) );

    --color-highlight: hsl(from #{$theme-color-1} h s calc(l + 24) );
    --color-bg:  hsl(from #{$theme-color-2} h s calc(l + 4) );
    --color-surface:  hsl(from #{$theme-color-2} calc(h + 150) 100 98);
    
    --color-gradient: linear-gradient(45deg, var(--color-primary-dark), var(--color-accent) );
    --color-text:  hsl(from #{$theme-color-3} h s calc(l + 20));
    --color-text-light:  hsl(from #{$theme-color-3} h s calc(l + 33));
    --color-text-dark:  hsl(from #{$theme-color-3} h s l);
    color-scheme: light dark;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: var(--color-bg);
    font-family: "Raleway", Verdana, sans-serif !important;
    color: var(--color-text);
}