@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$theme-color-1: rgba(0, 159, 205);
$theme-color-2: rgba(118, 224, 238);
$theme-color-3: rgb(245, 255, 250);
$theme-color-4: rgba(213, 248, 254);

$primary-color: rgba(21, 138, 155);
$secondary-color: rgb(233, 233, 233);
$accent-color: teal;

$subheading-color: #333;
$heading-color: #555;

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --accent-color: #{$accent-color};
    --theme-color-1: #{$theme-color-1};
    --theme-color-2: #{$theme-color-2};
    --theme-color-3: #{$theme-color-3};
    --theme-color-4: #{$theme-color-4};
    --heading-color: #{$heading-color};
    --gradient-color-1: linear-gradient(45deg, #{$primary-color}, #{$theme-color-2} );
    color-scheme: light dark;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Raleway", Verdana, sans-serif !important;
}

.bg-app-accent {
    background-color: var(--accent-color) !important;
    color: var(--theme-color-2) !important;
}

.bg-app-primary {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}
.bg-app-primary-light {
    background-color: var(--theme-color-1) !important;
    color: var(--secondary-color) !important;
}
.text-app-primary {
    color: var(--primary-color) !important;
}
.text-app-accent {
    color: var(--theme-color-1) !important;
}