section:not(.banner) {
  margin: 2rem auto;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.25s;
}

a {
    text-decoration: none;
    color: var(--color-text-dark);

  &:hover {
    color: var(--color-primary) !important;
  }
}

footer {
  background-color: var(--color-primary-dark);

* {
  color: var(--color-secondary) !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif !important;
  color: var(--color-text-light);
}

p {
  line-height: 2rem;
}

img {
  display: block;
  max-width: 100%;
}

ul {
    list-style: circle;
    li {
      padding: 10px;
      &:hover {
        color: var(--color-primary);
        scale: 1.2;
      }
    }
  }

svg {
  padding: 0px 10px;
}

.float-right {
  bottom: 5%;
  right: 5%;
}

.rotate-15 {
  transform: rotate(15deg);
}

.bg-app-primary-dark {
  background-color: var(--color-primary-dark) !important;
  color: var(--color-secondary) !important;
}
.bg-app-primary {
  background-color: var(--color-primary) !important;
  color: var(--color-text) !important;
}
.bg-app-accent {
  background-color: var(--color-accent) !important;
  color: var(--color-text) !important;
}

.text-app-primary {
  color: var(--color-primary) !important;
}
.text-app-primary-dark {
  color: var(--color-primary-dark) !important;
}
.text-app-secondary {
  color: var(--color-secondary) !important;
}
.text-app-accent {
  color: var(--color-accent) !important;
}

.btn-primary {
  border: 2px solid var(--color-primary);
  background-color: var(--color-secondary);
  color: var(--color-primary);

  &:hover {
    scale: 1.2;
    background-color: var(--color-primary-dark);
  }
}

.btn-secondary {
  border: 2px solid var(--color-text-dark);
  color: var(--color-text-dark);

  &:hover {
    scale: 1.2;
    background-color: var(--color-secondary);
  }
}