@use "./src/assets/css/config" as *;
@use "./src/assets/css/partials" as *;


.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found {
    height: 70vmin;
    color: #4682b4;
}

.colored-box {
    width: 100%;
    min-height: 250px;
    background-color: blue;
}

/* --------------------- HERO SECTION ---------------------- */
.navbar {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 20%);
    z-index: 1200;
    width: 70vw;
    border-radius: 50px;
    padding: 0;
    background-color: #f7f7f7;
    .logo {
        border-radius: 50%;
        width: 10%;
    }
    .navbar-nav {
        flex-grow: 1;
        justify-content: space-around;
    }
}

.banner {
    width: 100%;
    min-height: 300px;
    height: 100vh;
    background-position: 50% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    img {
        overflow: hidden;
    }
    .banner-message {
        font-size: 40px;
        font-weight: 900;
    }
}

.kpi {
    flex-grow: 1;
}


/* ------------------ Floating Button =========== */
.floating-btn {
position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 1;
  color: #fff;
  padding: 20px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  opacity: .5;
  cursor: pointer;
    &:hover {
        opacity: 1;
        box-shadow: 0 15px 30px 0px rgba(0, 0, 0, .6);
    }
}


// ===================== SERVICES PAGE ==============
.nav.nav-tabs .nav-item .nav-link {
    text-transform: capitalize;
}

.service-category .category-title {
    margin-left: 5em;
}
.service .category-heading {
    margin-left: 4em;
}
.service .heading-content { margin-left: 4em; }

// ===================== TEAM PAGE ===============

#team-section {
    .team-member:nth-child(even) {
        .team-member-figure {
            order: 2;
        }
    }
}

#news-gallery-section {
    .article {
        padding: 1rem;

        &.h-25, &.h-75 {
            height: auto;
            min-height: max-content;
        }
    }
}

// ================= Footer =================
footer .author { 
    opacity: 0.6;
    color: grey;
    font-size: 0.8rem;
    font-style: italic;
}

