@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
$theme-color-1: rgba(0, 159, 205);
$theme-color-2: rgba(118, 224, 238);
$theme-color-3: rgb(245, 255, 250);
$theme-color-4: rgba(213, 248, 254);

$primary-color: rgba(21, 138, 155);
$secondary-color: rgb(233, 233, 233);
$accent-color: teal;

$subheading-color: #333;
$heading-color: #555;

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --accent-color: #{$accent-color};
    --theme-color-1: #{$theme-color-1};
    --theme-color-2: #{$theme-color-2};
    --theme-color-3: #{$theme-color-3};
    --theme-color-4: #{$theme-color-4};
    --heading-color: #{$heading-color};
    --gradient-color-1: linear-gradient(45deg, #{$primary-color}, #{$theme-color-2} );
    color-scheme: light dark;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Poppins", Verdana, sans-serif;
}

.bg-app-accent {
    background-color: var(--accent-color);
    color: var(--theme-color-2);
}

.bg-app-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.bg-app-primary-light {
    background-color: var(--theme-color-1);
    color: var(--secondary-color);
}
.text-app-primary {
    color: var(--primary-color);
}
.text-app-accent {
    color: var(--theme-color-1);
}