.hexagon-section {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 0 1rem;
}
.hex-block {
  filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.5));
}
.hex-block-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ffff;
  aspect-ratio: 1;
  clip-path: polygon(50% 100%, 0 75%, 0 25%, 50% 0, 100% 25%, 100% 75%);
  text-align: center;
  padding: 5px;
  overflow: hidden;
  overflow-wrap: anywhere;

}
.hex-title {
  font-size: clamp(12px, 2vw, 20%);
}

@media (max-width: 576px) {
  .hexagon-layout {
    --size: 40vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .hex-pair {
    display: flex;
    align-items: center;
    gap: 16px;
    // margin-bottom: calc(-0.20 * var(--size));

    &:nth-child(odd) {
      // margin-left: calc(20vw - (0.6 * var(--size)));
    }
    &:nth-child(even) {
      // margin-right: calc(20vw - (0.6 * var(--size)));
      justify-content: end;

      .hex-block {
        order: 2;
        .hex-block-inner {
          background-color: whitesmoke;
          color: #00ffff;
        }   
      }

      .hex-block-text {
        text-align: right;
      }
    }

    .hex-block {
      width: var(--size);
      // height: var(--size);
    }

    .hex-block-text {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      height: calc((0.50) * var(--size));
      font-size: clamp(12px, 2vw, 20px);
      text-align: left;
    }
  }
}

@media (min-width: 577px) {
  .hexagon-layout {
    --size: 50vw;
    position: relative;
    width: calc(var(--size));
    min-height: var(--size);
    // clip-path: polygon(50% 100%, 0 75%, 0 25%, 50% 0, 100% 25%, 100% 75%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pos-1 {
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
  }

  .pos-2 {
    left: 0%;
    top: 75%;
    transform: translate(0%, -75%);
  }

  .pos-3 {
    left: 0%;
    top: 25%;
    transform: translate(0%, -25%);
  }

  .pos-4 {
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
  }

  .pos-5 {
    left: 100%;
    top: 25%;
    transform: translate(-100%, -25%);
  }

  .pos-6 {
    left: 100%;
    top: 75%;
    transform: translate(-100%, -75%);
  }

  .hex-pair {
    &.active {
      .hex-block-inner {
        background-color: whitesmoke;
        color: #00ffff;
      }
    }
    .hex-block {
      position: absolute;
      padding: 5px;
      width: calc(var(--size) * 0.25);
      height: calc(var(--size) * 0.25);

      .hex-block-inner:hover {
        background-color: whitesmoke;
        color: #00ffff;
      }
    }

    .hex-block-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}